<button (click)="isToggle = !isToggle" class=" btn btn-secondary mb-5">Toggle</button>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum convallis nunc vitae pulvinar laoreet. Quisque
  vel sem eget libero volutpat blandit. Maecenas accumsan, ex quis elementum auctor, odio neque consectetur orci, nec
  consequat nisi mauris nec mi. Nam sodales nibh leo, placerat aliquet dolor euismod et. In a blandit quam. Aliquam et
  nibh tempus, bibendum tellus eget, cursus nulla. Fusce mi quam, aliquet a pellentesque congue, consectetur ut turpis.
  Donec vulputate turpis id sem tristique, et accumsan lectus aliquam. Maecenas vulputate ipsum sit amet lacus porta, et
  euismod velit vehicula. Aenean facilisis, ante eget imperdiet ultricies, neque tortor blandit nunc, vel gravida lacus
  dui ut orci. Nullam pulvinar porta est, non vestibulum tortor. Ut eget tempus felis. Curabitur viverra arcu risus, ut
  pretium orci posuere id. Praesent non scelerisque ipsum, sit amet tempor justo.

  Sed mattis ante a mi fringilla, a pellentesque ligula vehicula. Fusce id libero vitae mauris tempus vehicula. Mauris
  pharetra nisi quis risus vulputate tempor. Fusce malesuada, augue at scelerisque gravida, arcu ipsum mattis nulla, id
  ullamcorper elit sapien nec turpis. Vivamus quis ex non dui luctus pharetra. Vivamus tempor eget nibh non auctor.
  Proin justo quam, vulputate sed finibus in, suscipit sit amet mauris. Etiam arcu tellus, fermentum ut ullamcorper id,
  ultrices eget lectus. Duis sollicitudin scelerisque sem, sed semper justo dictum ac. Vivamus accumsan condimentum
  orci, nec varius nisi dictum ut. Phasellus sit amet lacus nisi. Duis sit amet iaculis lacus. Vivamus maximus accumsan
  risus, at tincidunt tellus congue ut. Pellentesque nec justo at nisl consequat facilisis eget a mi.

  Etiam sit amet varius tortor, et sagittis tellus. Suspendisse consectetur aliquet turpis, vel iaculis augue egestas
  eget. Pellentesque porta, mauris sit amet tincidunt convallis, magna purus cursus sem, ac ornare quam ex non erat. In
  sed dapibus lorem. Donec eget volutpat lectus, quis gravida tellus. In porttitor posuere diam a cursus. Vivamus non
  facilisis orci.

  Pellentesque dapibus, nulla sed suscipit molestie, velit leo bibendum nulla, eget tempor risus quam eget lectus. Nulla
  vestibulum in nisl vitae commodo. Pellentesque id eleifend quam. Etiam interdum luctus nulla, a scelerisque lacus
  vehicula vitae. Donec at interdum erat, nec interdum nunc. Ut sagittis nibh nulla, quis consectetur purus commodo ut.
  Nunc vel convallis elit. Maecenas ac nulla id nibh venenatis semper. Suspendisse scelerisque est mi, ac molestie
  tortor ultrices dictum. Aenean dignissim ligula eu dolor condimentum, non mattis arcu porta. Nunc elementum tincidunt
  tincidunt. Nullam ornare efficitur arcu, porta malesuada libero pellentesque ac. Aenean auctor, eros in rhoncus
  tincidunt, ex eros tempus urna, eu iaculis libero erat id ante. Mauris ultrices facilisis viverra.

  Fusce at elit eleifend, ullamcorper enim quis, fermentum ante. Orci varius natoque penatibus et magnis dis parturient
  montes, nascetur ridiculus mus. Duis malesuada mattis placerat. Maecenas porta nibh nisi. Proin iaculis suscipit ipsum
  sit amet facilisis. Morbi viverra imperdiet mi non pharetra. Aliquam tempor purus eu quam semper, quis pellentesque
  est malesuada. Quisque efficitur imperdiet sagittis. Nulla quis magna maximus nisi sagittis interdum.</p>
